[Unit]
Description=Go HelloWorld Server

[Service]
Environment="HELLOWORLD_SERVER_ENV=PROD"
WorkingDirectory=/root/helloworld/
ExecStart=/root/helloworld/main.out
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target
