[Unit]
Description=helloworld-api

[Service]
Environment="HELLOWORLD_API_ENV=PROD"
WorkingDirectory=/home/expvm1/helloworld-api/
ExecStart=/home/expvm1/go/bin/helloworld-api
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target
