[Unit]
Description=helloworld-api

[Service]
WorkingDirectory=/root
ExecStart=/root/go/bin/helloworld-api
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target
